<footer id="site-footer" class="footer-container">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="assets/images/ui/logo-footer.svg" alt="Emma Frost Photography Logo">
        </div>
        
        <div class="footer-nav">
            <div class="footer-col">
                <h4>Navigation</h4>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="client-gallery.html">Client Gallery</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            
            <div class="footer-col">
                <h4>Galleries</h4>
                <ul>
                    <li><a href="galleries/landscapes.html">Landscapes</a></li>
                    <li><a href="galleries/wildlife.html">Wildlife</a></li>
                    <li><a href="galleries/portraits/families.html">Families</a></li>
                    <li><a href="galleries/portraits/maternity.html">Maternity</a></li>
                    <li><a href="galleries/portraits/engagement.html">Engagement</a></li>
                </ul>
            </div>
            
            <div class="footer-col">